<% visitor = notification.visitor %>
<% post = notification.post %>

<div class="user-view clearfix ">
  <%= link_to users_path(notification.visitor) do %>
    <%= image_tag notification.visitor.get_profile_image(50,50), class: "rounded-circle" %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
  <br>

  <% if @comment.present? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
  
  <% case notification.action %>
    <% when "invitation" %>
        <%= link_to visitor.name, user_path(visitor) %>
        さんからチームへの招待が届きました。
        <!--このリンクをクリックすると、チーム加入処理を行う join アクションが働く。-->
        <%= link_to "参加する", group_join_path(notification.group_id) %>
  <% end %>
</div>
