<div class="container">
  <h4 class="text-center py-4">プロフィール編集 <i class="fas fa-user-edit"></i></h4>
  <!--border border-info-->
</div>
<div class="container pt-3">
  <div class="row">
    <div class="col-7 offset-md-3">
      <%= form_with model: @user do |f| %>
      
      <div class="form-group row">
        <%= f.label :アイコン画像 ,class: "col-sm-3 col-form-label " %>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>
      <div class="form-group row">
        <%= f.label :Name ,class: "col-sm-3 col-form-label " %>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      </div>
      <div class="form-group row">
        <%= f.label :自己紹介 ,class: "col-sm-3 col-form-label " %>
        <%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:"自己紹介を書こう！"%>
      </div>
      <div class="text-center py-2">
      <%= f.submit "変更を保存" ,class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="col-7 offset-md-3 py-3">
      <%= link_to "退会する", unsubscribe_path, class: "btn btn-sm btn-outline-danger" %>
      <h3><i class="far fa-sad-tear"></i></h3>
    </div>
  </div>
    <% end %>
   