<h4>投稿を編集する</h4>
<%= form_with model: @post do |f| %>
<h4>画像</h4>
<%= f.file_field :image, accept: "image/*" %>

<h4>本文</h4>
<%= f.text_area :text %>
<%= f.submit '変更する' %>
<% end %>
<% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
<% end %>