<h4>投稿詳細</h4>
 <%= image_tag @post.image, size:'250x250' %>
 
<%= link_to user_path(@post.user) do %>
    <%= image_tag @post.user.get_profile_image(100,100) %>
    <%= @post.user.name %>
<% end %>
<%= @post.text %>
<% if @post.user == current_user %>
    <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-outline-success" %></td>
    <td><%= link_to '削除', post_path(@post), method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
<% end %>

<%= @post.created_at.strftime('%Y/%m/%d') %>

 <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

    <div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
   </div>
   
   <%#= @post.spot.address %>
    
<div id='map' style="width: 600px; height: 600px;"></div>
<script>

function initMap(){
  let map
  <% if @spot == nil || @spot.latitude == nil || @spot.longitude == nil %>
    $('#map').css('display', 'none');
    return;
    <% @spot = Spot.new %>
    <% @spot.latitude = 0 %>
    <% @spot.longitude = 0 %>
  <% end %>
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
    zoom: 15,
       zoomControl: false,
       mapTypeControl: false,
       fullscreenControl: false,
       streetViewControl: false,
  });

  marker = new google.maps.Marker({
    position: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
    map: map
  });
   //geocoder = new google.maps.Geocoder()
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
