<h4>投稿詳細</h4>
 <%= image_tag @post.image, size:'250x250' %>
 
<%= link_to user_path(@post.user) do %>
    <%= image_tag @post.user.get_profile_image(100,100) %><br>
    <%= @post.user.name %>
<% end %>
<%= @post.text %>
<% if @post.user == current_user %>
    <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
    <td><%= link_to '削除', post_path(@post), method: :delete, class: "btn btn-sm btn-success" %></td>
<% end %>
<%= @post.created_at.strftime('%Y/%m/%d') %>